# We're pinning our tooling, because it's an environment we can strictly control.
# We're not pinning package dependencies, because our tests need to pass with the
# latest version of the packages.

--prefer-binary

# Dependencies
deltalake >= 0.10.0
numpy == 1.25.*
pandas == 2.0.*
pyarrow == 12.0.*
pydantic == 2.0.*
backports.zoneinfo; python_version < '3.9'
tzdata; platform_system == 'Windows'
SQLAlchemy == 2.0.*
xlsx2csv == 0.8.*
XlsxWriter == 3.1.*
adbc_driver_sqlite; python_version >= '3.9' and platform_system != 'Windows'
connectorx==0.3.*; python_version >= '3.8'  # Latest full release is broken - unpin when 0.3.2 released

# Tooling
hypothesis==6.79.*; python_version < '3.8'
hypothesis==6.80.*; python_version >= '3.8'
maturin==1.1.*
pytest==7.4.*
pytest-cov==4.1.*
pytest-xdist==3.3.*

# Stub files
pandas-stubs == 2.0.*
